@charset "UTF-8";
@media (min-width: 768px) and (max-width: 768px) {
  /* line 2, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 4, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.svg") format("svg"); }
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.ttf") format("truetype"); }
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.woff") format("woff"); }
  /* line 17, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  body {
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Apercu Regular", "Avenir", "Open Sans", "Adobe Calson Pro", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, 'Lato', sans-serif; }
  /* line 22, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  img {
    max-width: 500px;
    height: auto; }
  /* line 10, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 10, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 28, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto; }
  /* line 16, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 17, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 36, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  header {
    background-color: #020202;
    width: 100%;
    margin: 0;
    padding: 0; }
  /* line 22, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 24, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 44, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .title {
    padding: 0.3em 0;
    text-align: center;
    float: left;
    color: #FF5000;
    font-size: 23px;
    font-family: 'Fredoka One', cursive; }
  /* line 30, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 33, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 54, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .navbar-default {
    background-color: #020202;
    border-color: #020202; }
  /* line 34, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 38, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 60, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent; }
  /* line 40, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 45, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 68, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 17px;
    text-align: left;
    margin-right: -7%; }
  /* line 49, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 55, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 79, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .navbar-default .navbar-nav li {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0; }
  /* line 55, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 62, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 87, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .navbar-default .navbar-nav li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    width: 100%;
    background-color: black;
    color: white; }
  /* line 63, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 71, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 97, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .navbar-default .navbar-nav li a:hover {
    background-color: red;
    color: white; }
  /* line 67, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 76, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 103, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .eyecatch {
    background-image: url(../image/eyecatch_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 690px; }
  /* line 74, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 84, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 112, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .sub_title {
    margin: 10% 0px 2% 0px;
    text-align: center;
    font-family: marketing script;
    font-size: 500%; }
  /* line 80, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 91, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 120, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .concept_image {
    background-image: url(../image/piece_partial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    float: right; }
  /* line 88, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 100, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 130, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sub_image {
    width: 100%;
    height: 250px;
    border-radius: 80%;
    padding: 5%; }
  /* line 94, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 107, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 138, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sub_image_titie {
    padding: 50px 0px 20px 0px;
    text-align: center;
    font-size: 300%;
    color: #FF5000; }
  /* line 100, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 114, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 146, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sub_image_titie_talk {
    padding: 19px 0px 20px 0px;
    text-align: center;
    font-size: 300%;
    color: #FF5000; }
  /* line 152, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sub_image_titie_recommend {
    padding: 50px 0px 27px 0px;
    text-align: center;
    font-size: 250%;
    color: #FF5000; }
  /* line 110, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 121, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 160, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #Apple_Music {
    height: 130px;
    border-radius: 0%;
    padding-left: 66%;
    margin-top: 21%; }
  /* line 115, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 128, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 168, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #Spotify {
    height: 130px;
    border-radius: 0%;
    padding-left: 20%;
    margin-top: 2%; }
  /* line 120, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 135, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 176, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #SoundCloud {
    height: 130px;
    border-radius: 0%;
    padding-left: 66%;
    margin-top: 2%; }
  /* line 125, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 142, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 184, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #Youtube {
    height: 130px;
    border-radius: 0%;
    padding-left: 20%;
    margin-top: 2%; }
  /* line 130, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 149, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 192, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #smartphone_white {
    height: 710px;
    margin-top: 16%; }
  /* line 134, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 154, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 198, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .Listening_side {
    background-image: url(../image/headphone_lp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    /* width: 100%; */ }
  /* line 141, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 162, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 207, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .community_back {
    background-image: url(../image/recommend_back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 760px;
    margin-top: 7em; }
  /* line 149, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 171, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 217, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #share_twi {
    height: 140px;
    text-align: center;
    padding-left: 27%; }
  /* line 154, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 177, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 224, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #share_face {
    height: 140px;
    text-align: center;
    padding-left: 28%; }
  /* line 159, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 183, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 231, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #share_hatena {
    height: 85px;
    text-align: center;
    padding-left: 33%;
    margin-top: 5%; }
  /* line 165, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 190, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 239, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  footer {
    background-color: #020202;
    width: 100%;
    height: 300px; }
  /* line 170, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 196, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 246, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #fotter_title {
    text-align: center;
    font-size: 800%;
    color: #FF5000;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 10px #020202; }
  /* line 177, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 204, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 255, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #fotter_sub_title {
    text-align: center;
    color: #FFF;
    padding-top: 2%;
    margin-left: 43%; }
  /* line 182, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 210, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 263, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #fotter_copyright {
    text-align: center;
    color: #FFF;
    padding-top: 3em; } }

@media screen and (min-width: 415px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 0) {
  /* line 191, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 222, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 276, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 36px; }
  /* line 201, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 233, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 288, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  input[type="date"].input-sm,
  .input-group-sm input[type="date"],
  input[type="time"].input-sm,
  .input-group-sm input[type="time"],
  input[type="datetime-local"].input-sm,
  .input-group-sm input[type="datetime-local"],
  input[type="month"].input-sm,
  .input-group-sm input[type="month"] {
    line-height: 24px; }
  /* line 211, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 244, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 300, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  input[type="date"].input-lg,
  .input-group-lg input[type="date"],
  input[type="time"].input-lg,
  .input-group-lg input[type="time"],
  input[type="datetime-local"].input-lg,
  .input-group-lg input[type="datetime-local"],
  input[type="month"].input-lg,
  .input-group-lg input[type="month"] {
    line-height: 44px; } }

@media (min-width: 415px) and (max-width: 768px) {
  /* line 215, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 251, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 308, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .input-group {
    padding-top: 5em; }
  /* line 218, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 255, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 313, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; }
  /* line 234, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 272, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 331, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .form-control,
  .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400; }
  /* line 247, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 286, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 346, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .chara_title {
    margin: 80px 0px -40px 0px; }
  /* line 250, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 290, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 351, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #character {
    background-image: url(../image/smartphone_white_3.png);
    background-repeat: no-repeat;
    background-size: inherit;
    height: 650px;
    margin-top: 7%;
    margin-left: 16%; }
  /* line 257, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 299, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 361, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #black_iphone {
    height: 900px;
    margin-top: -12%;
    width: 80%;
    margin-left: -4%; }
  /* line 263, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 306, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 369, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #hatena_p {
    text-align: center;
    padding-top: 19%;
    padding-left: 5%; }
  /* line 267, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 311, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 376, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #twitter_p {
    text-align: center;
    padding-left: 7%; }
  /* line 271, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 316, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 382, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #facebook_p {
    text-align: center;
    padding-left: 9%; }
  /* line 274, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 321, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 388, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #share_section {
    height: 500px; }
  /* line 277, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 325, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 393, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #iOS_download {
    width: 18%;
    height: 100%;
    opacity: 0.5;
    padding-top: 5%; }
  /* line 283, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 332, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 401, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset; }
  /* line 288, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 338, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 408, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #concept_sub_p {
    margin-top: 8%;
    font-size: 195%;
    line-height: 1.6;
    text-align: center; }
  /* line 293, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 344, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 416, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #character_sub_p {
    margin-top: 21%;
    font-size: 200%;
    text-align: center; }
  /* line 297, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 349, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 423, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #listening_sub_p {
    margin-top: 20%;
    font-size: 200%;
    text-align: center; }
  /* line 301, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 354, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 430, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #warning_p {
    margin-top: 10%;
    font-size: 120%;
    text-align: center; }
  /* line 305, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 359, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 437, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #concept_main_title {
    text-align: center;
    font-size: 300%;
    padding: 2% 2%;
    color: #FF5000; }
  /* line 311, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 366, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 445, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #concept_main_p {
    font-size: 295%;
    color: #FF5000; }
  /* line 315, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 371, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 451, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #character_main_p {
    font-size: 350%;
    color: #FF5000;
    font-weight: 900;
    font-family: impact;
    padding-top: 11%;
    text-align: center; }
  /* line 322, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 379, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 461, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #listening_main_p {
    font-size: 290%;
    padding-top: 6%;
    text-align: center; }
  /* line 326, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 384, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 468, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sub_image_p {
    font-size: 127%; }
  /* line 329, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 388, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 473, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sub_image_p_talk {
    font-size: 127%; }
  /* line 332, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 392, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 478, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #community_main_p {
    font-size: 360%;
    color: #FFFFFF;
    padding-top: 20%;
    text-align: center; }
  /* line 337, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 399, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 486, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #community_sub_p {
    padding-top: 9%;
    font-size: 200%;
    color: #FFFFFF;
    line-height: 2; }
  /* line 342, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 405, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 494, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #white_text_form {
    width: 225px;
    height: 34px;
    background-color: #FFF;
    border-radius: 30px 0px 0px 30px; }
  /* line 348, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 412, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 502, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #black_submit {
    width: 200px;
    height: 200px;
    background-color: #020202; }
  /* line 353, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 418, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 509, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .form-group {
    width: 40%;
    height: 50px;
    background-color: #FFF;
    border-radius: 30px 0px 0px 30px;
    position: relative;
    left: 8em; }
  /* line 360, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 425, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 519, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .form-inline .btn {
    background-color: #FF5000;
    width: 28%;
    height: 52px;
    border-radius: 0px 30px 30px 0px;
    color: #FFFFF0;
    position: relative;
    top: -4.7em;
    left: 10.1em; }
  /* line 368, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 433, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 531, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .form-inline {
    padding-top: 12%; }
  /* line 371, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 437, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 536, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .relative_first {
    position: relative;
    display: none; }
  /* line 540, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .relative_first_messenger {
    position: relative;
    top: -1.85em;
    right: -11%; }
  /* line 374, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 442, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 547, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #relative_6s {
    display: block; }
  /* line 550, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .absolute_first {
    position: absolute;
    color: #fff;
    top: 59%;
    left: 41.5%;
    font-size: 120%;
    text-shadow: 1px 1px 10px #020202; }
  /* line 382, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 451, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 560, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .relative_second {
    position: relative; }
  /* line 385, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 455, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 565, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .absolute_second {
    position: absolute;
    color: #fff;
    top: 11.1em;
    left: 3%;
    font-size: 40px;
    text-shadow: 1px 1px 5px #020202;
    font-weight: 900; }
  /* line 574, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .line {
    position: relative;
    top: 4em;
    right: 10%; }
  /* line 580, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #line {
    height: 3em; }
  /* line 395, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 465, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 585, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #logo {
    font-size: 800%;
    color: #FF5000;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 10px #020202;
    /*padding-top: 10%;*/ }
  /* line 402, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 473, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 594, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #catch_copy {
    font-size: 300%;
    color: #FFF;
    text-shadow: 1px 1px 10px #020202;
    font-weight: bold;
    white-space: nowrap; }
  /* line 409, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 481, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 603, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #pink_p {
    color: #FF5000; }
  /* line 412, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 485, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 608, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .slideshow img {
    position: absolute;
    left: 10.9%;
    top: 18.8%;
    opacity: 0;
    transition: 1s;
    width: 72.3%;
    height: 42.8em; }
  /* line 421, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 495, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 619, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .slideshow .show {
    opacity: 1; }
  /* line 424, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 499, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 624, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .slideshow_2 img {
    position: absolute;
    left: 8%;
    top: 6.7%;
    opacity: 0;
    transition: 1s;
    height: 65.8%; }
  /* line 432, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 508, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 634, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .slideshow_2 .show {
    opacity: 1; }
  /* line 435, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_2.scss */
  /* line 512, /Users/kikuchi/Desktop/APOLO_LP_1204/css/index_3.scss */
  /* line 639, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #share_title {
    margin: 0px;
    padding-bottom: 10px;
    margin-top: 10%; }
  /* line 644, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #release {
    color: #FFFFF0;
    /* padding-top: 5%; */
    font-size: 120%;
    position: relative;
    top: 2em; }
  /* line 651, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .page-top {
    display: none; }
  /* line 654, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #release2 {
    color: #FFFFF0;
    font-size: 24px;
    position: relative;
    top: 2em;
    text-align: center; }
  /* line 661, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  .line2 {
    margin-top: 8%;
    text-align: center; }
  /* line 665, /Users/kikuchi/Desktop/apolochat/css/ipad_1.scss */
  #sns_p {
    padding-top: 10%;
    font-size: 140%;
    color: #fff;
    text-shadow: 1px 1px 10px #020202;
    font-weight: bold;
    white-space: nowrap; } }

/*# sourceMappingURL=index_2.css.map */
/*# sourceMappingURL=index_3.css.map */

/*# sourceMappingURL=ipad_1.css.map */