@charset "UTF-8";
@media (max-width: 414px) {
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.svg") format("svg"); }
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.ttf") format("truetype"); }
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.woff") format("woff"); }
  /* line 14, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  body {
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Apercu Regular", "Avenir", "Open Sans", "Adobe Calson Pro", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "marketing script"; }
  /* line 22, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto; }
  /* line 28, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  header {
    background-color: #020202;
    width: 100%;
    margin: 0;
    padding: 0; }
  /* line 34, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .title {
    text-align: center;
    float: left;
    color: #FF5000;
    font-size: 23px;
    font-family: 'Fredoka One', cursive; }
  /* line 41, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .navbar-default {
    background-color: #020202;
    border-color: #020202; }
  /* line 45, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent; }
  /* line 51, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    font-family: Helvetica;
    font-size: 20px; }
  /* line 59, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .navbar-default .navbar-nav li {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0; }
  /* line 65, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .navbar-default .navbar-nav li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    width: 100%;
    background-color: black;
    color: white; }
  /* line 73, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .navbar-default .navbar-nav li a:hover {
    background-color: red;
    color: white; }
  /* line 77, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .eyecatch {
    background-image: url(../image/eyecatch_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px; }
  /* line 84, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .sub_title {
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-family: marketing script;
    font-size: 470%;
    margin-top: 1em; }
  /* line 91, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #Concept {
    display: none; }
  /* line 94, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #concept_title {
    margin: 0;
    margin-top: -10%;
    margin-bottom: 20%; }
  /* line 99, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .concept_image {
    background-image: url(../image/piece_partial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    width: 100%;
    float: right;
    margin-top: -32em; }
  /* line 108, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #concept_li {
    display: none; }
  /* line 111, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #sub_image {
    width: 70%;
    height: 250px;
    border-radius: 80%;
    padding: 10px; }
  /* line 117, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #sub_image_titie {
    padding: 15px 0px 10px 0px;
    text-align: center;
    font-size: 200%;
    color: #FF5000; }
  /* line 123, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #sub_image_titie_talk {
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 200%;
    color: #FF5000; }
  /* line 133, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #Apple_Music {
    height: 100px;
    border-radius: 0%;
    padding-left: 14em;
    margin-top: 5em; }
  /* line 138, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #Spotify {
    height: 100px;
    border-radius: 0%;
    padding-left: 3em;
    margin-top: 1em; }
  /* line 143, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #SoundCloud {
    height: 100px;
    border-radius: 0%;
    padding-left: 14em;
    margin-top: 1em; }
  /* line 148, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #Youtube {
    height: 100px;
    border-radius: 0%;
    padding-left: 3em;
    margin-top: 1em; }
  /* line 153, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #smartphone_white {
    background-size: contain;
    width: 81%;
    position: relative;
    top: -48em;
    height: 34.6em;
    left: 9%; }
  /* line 161, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .Listening_side {
    background-image: url(../image/headphone_lp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 510px; }
  /* line 167, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .community_back {
    background-image: url(../image/community_back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1125px;
    margin-top: 7em;
    line-height: 1.6; }
  /* line 176, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #share_twi {
    height: 125px;
    text-align: center;
    padding-left: 31%; }
  /* line 181, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #share_hatena {
    height: 85px;
    text-align: center;
    padding-left: 34%;
    margin-top: 1em; }
  /* line 187, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #share_face {
    height: 125px;
    text-align: center;
    padding-left: 31%; }
  /* line 192, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  footer {
    background-color: #020202;
    width: 100%;
    height: 300px; }
  /* line 197, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #fotter_title {
    text-align: center;
    font-size: 650%;
    color: #FF5000;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 10px #020202; }
  /* line 204, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #fotter_sub_title {
    text-align: center;
    color: #FFF;
    margin-top: 2em;
    margin-left: 36%; }
  /* line 210, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #fotter_copyright {
    text-align: center;
    color: #FFF;
    margin-top: 4em; } }

@media screen and (max-width: 414px) and (-webkit-min-device-pixel-ratio: 0) {
  /* line 219, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 36px; }
  /* line 229, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  input[type="date"].input-sm,
  .input-group-sm input[type="date"],
  input[type="time"].input-sm,
  .input-group-sm input[type="time"],
  input[type="datetime-local"].input-sm,
  .input-group-sm input[type="datetime-local"],
  input[type="month"].input-sm,
  .input-group-sm input[type="month"] {
    line-height: 24px; }
  /* line 239, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  input[type="date"].input-lg,
  .input-group-lg input[type="date"],
  input[type="time"].input-lg,
  .input-group-lg input[type="time"],
  input[type="datetime-local"].input-lg,
  .input-group-lg input[type="datetime-local"],
  input[type="month"].input-lg,
  .input-group-lg input[type="month"] {
    line-height: 44px; } }

@media (max-width: 414px) {
  /* line 243, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .input-group {
    padding-top: 5em; }
  /* line 246, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; }
  /* line 262, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .form-control,
  .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400; }
  /* line 275, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #character {
    background-image: url(../image/smartphone_white_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 470px;
    margin-left: 11%; }
  /* line 282, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #black_iphone {
    width: 100%; }
  /* line 285, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #hatena_p {
    text-align: center;
    padding-top: 5%; }
  /* line 289, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #twitter_p {
    text-align: center;
    margin-top: -1em; }
  /* line 293, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #facebook_p {
    text-align: center;
    margin-top: -1em; }
  /* line 297, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #share_section {
    height: 600px; }
  /* line 300, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #iOS_download {
    width: 40%;
    opacity: 0.5;
    margin-top: -58%; }
  /* line 305, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    display: none; }
  /* line 311, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #concept_sub_p {
    margin-top: 1em;
    font-size: 130%;
    line-height: 2.3;
    text-shadow: 1px 1px 10px #020202;
    color: #FFF;
    font-weight: 900; }
  /* line 319, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #character_sub_p {
    margin-top: 2em;
    font-size: 150%;
    text-align: center;
    line-height: 2.1;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 327, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #listening_sub_p {
    margin-top: 2em;
    font-size: 150%;
    text-align: center;
    line-height: 2.1;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 335, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #warning_p {
    margin-top: 3em;
    font-size: 50%;
    text-align: center; }
  /* line 340, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #concept_main_title {
    text-align: center;
    font-size: 150%;
    padding: 20px 20px;
    color: #FF5000; }
  /* line 346, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #concept_main_p {
    font-size: 200%;
    color: #FF5000;
    color: #FFF;
    text-shadow: 1px 1px 10px #020202;
    font-weight: 900; }
  /* line 353, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #character_main_p {
    font-size: 250%;
    color: #FF5000;
    font-weight: 900;
    font-family: impact;
    padding-top: 1em;
    text-align: center; }
  /* line 361, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #listening_main_p {
    font-size: 250%;
    padding-top: 100px;
    text-align: center; }
  /* line 366, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #sub_image_p {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 371, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #sub_image_p_talk {
    margin-left: 3%;
    margin-right: 3%; }
  /* line 375, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #community_main_p {
    font-size: 250%;
    color: #FFFFFF;
    text-align: center;
    margin-top: -3em; }
  /* line 381, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #community_sub_p {
    font-size: 150%;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.1;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 389, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #white_text_form {
    width: 225px;
    height: 34px;
    background-color: #FFF;
    border-radius: 30px 0px 0px 30px; }
  /* line 395, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #black_submit {
    width: 200px;
    height: 200px;
    background-color: #020202; }
  /* line 400, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .form-group {
    width: 53%;
    height: 50px;
    background-color: #FFF;
    border-radius: 30px 0px 0px 30px;
    margin-left: 2.5em;
    position: relative;
    top: 25em;
    left: -1.2em; }
  /* line 411, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .form-inline .btn {
    background-color: #FF5000;
    width: 35%;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
    color: #FFFFF0;
    position: absolute;
    top: 40.6em;
    left: 19em;
    white-space: initial;
    font-size: 10px; }
  /* line 424, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .form-inline {
    padding-top: 4em;
    position: relative;
    top: 6em; }
  /* line 429, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .relative_first {
    position: relative;
    top: 41em; }
  /* line 433, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .absolute_first {
    position: absolute;
    color: #fff;
    top: -7.7em;
    left: 9.5em;
    font-size: 12px;
    text-shadow: 1px 1px 10px #020202; }
  /* line 441, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .relative_second {
    position: relative;
    z-index: -1; }
  /* line 445, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .absolute_second {
    position: absolute;
    color: #fff;
    top: 22.1em;
    left: -1.1em;
    font-size: 19px;
    text-shadow: 1px 1px 5px #020202;
    font-weight: 900;
    margin-top: -23.3em;
    margin-left: 12em;
    display: none; }
  /* line 457, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .line {
    position: relative;
    top: 39em; }
  /* line 461, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #line {
    height: 3em; }
  /* line 465, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #logo {
    font-size: 650%;
    color: #FF5000;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 10px #020202;
    /*padding-top: 7%;*/ }
  /* line 472, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #catch_copy {
    font-size: 200%;
    color: #FFF;
    text-shadow: 1px 1px 10px #020202;
    font-weight: bold; }
  /* line 478, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #pink_p {
    color: #FF5000; }
  /* line 481, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .slideshow img {
    position: absolute;
    left: 17.9%;
    top: -121.2%;
    opacity: 0;
    transition: 1s;
    width: auto;
    height: 26em; }
  /* line 490, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .slideshow .show {
    opacity: 1; }
  /* line 493, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .slideshow_2 img {
    position: absolute;
    left: 14%;
    top: 13.7%;
    opacity: 0;
    transition: 1s;
    height: 60.8%; }
  /* line 501, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .slideshow_2 .show {
    opacity: 1; }
  /* line 504, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #relative_black {
    position: relative;
    top: 0em; }
  /* line 508, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #share_title {
    margin: 0px;
    padding-bottom: 10px; }
  /* line 512, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #release {
    color: #FFFFF0;
    font-size: 13px;
    position: relative;
    top: 40em; }
  /* line 518, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .page-top {
    margin: 0;
    padding: 0; }
  /* line 522, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .page-top p {
    margin: 0;
    padding: 0;
    right: 16px;
    bottom: 16px;
    margin-left: 83%; }
  /* line 529, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .move-page-top {
    display: block;
    background: #FF5000;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  /* line 542, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .move-page-top:hover {
    opacity: 0.85; }
  /* line 545, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #release2 {
    color: #FFFFF0;
    font-size: 150%;
    position: relative;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%; }
  /* line 554, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .line2 {
    margin-top: 5%;
    text-align: center; }
  /* line 558, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  .br_5:before {
    content: "\A";
    white-space: pre; }
  /* line 562, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_5.scss */
  #sns_p {
    padding-top: 7%;
    font-size: 150%;
    color: #fff;
    text-shadow: 1px 1px 10px #020202;
    font-weight: bold;
    white-space: nowrap; } }

/*# sourceMappingURL=smart_5.css.map */