@charset "UTF-8";
@media (max-width: 414px) {
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.svg") format("svg"); }
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.ttf") format("truetype"); }
  @font-face {
    font-family: 'marketing script';
    src: url("../font/MarketingScript.woff") format("woff"); }
  /* line 14, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  body {
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Apercu Regular", "Avenir", "Open Sans", "Adobe Calson Pro", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "marketing script"; }
  /* line 22, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto; }
  /* line 28, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  header {
    background-color: #020202;
    width: 100%;
    margin: 0;
    padding: 0; }
  /* line 34, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .title {
    text-align: center;
    float: left;
    color: #FF5000;
    font-size: 23px;
    font-family: 'Fredoka One', cursive; }
  /* line 41, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .navbar-default {
    background-color: #020202;
    border-color: #020202; }
  /* line 45, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent; }
  /* line 51, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    font-family: Helvetica;
    font-size: 20px; }
  /* line 59, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .navbar-default .navbar-nav li {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0; }
  /* line 65, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .navbar-default .navbar-nav li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    width: 100%;
    background-color: black;
    color: white; }
  /* line 73, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .navbar-default .navbar-nav li a:hover {
    background-color: red;
    color: white; }
  /* line 77, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .eyecatch {
    background-image: url(../image/eyecatch_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px; }
  /* line 84, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .sub_title {
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-family: marketing script;
    font-size: 470%;
    margin-top: 1em; }
  /* line 91, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #concept_title {
    margin: 0;
    margin-top: -10%;
    margin-bottom: 20%; }
  /* line 96, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .concept_image {
    background-image: url(../image/piece_partial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    width: 100%;
    float: right;
    margin-top: -30em; }
  /* line 105, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #sub_image {
    width: 70%;
    height: 250px;
    border-radius: 80%;
    padding: 10px; }
  /* line 111, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #sub_image_titie {
    padding: 15px 0px 10px 0px;
    text-align: center;
    font-size: 200%;
    color: #FF5000; }
  /* line 117, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #sub_image_titie_talk {
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 200%;
    color: #FF5000; }
  /* line 127, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #Apple_Music {
    height: 100px;
    border-radius: 0%;
    padding-left: 14em;
    margin-top: 5em; }
  /* line 132, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #Spotify {
    height: 100px;
    border-radius: 0%;
    padding-left: 3em;
    margin-top: 1em; }
  /* line 137, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #SoundCloud {
    height: 100px;
    border-radius: 0%;
    padding-left: 14em;
    margin-top: 1em; }
  /* line 142, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #Youtube {
    height: 100px;
    border-radius: 0%;
    padding-left: 3em;
    margin-top: 1em; }
  /* line 147, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #smartphone_white {
    background-size: contain;
    width: 63.1%;
    position: relative;
    top: -50em;
    height: 34.6em;
    left: 17%; }
  /* line 155, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .Listening_side {
    background-image: url(../image/headphone_lp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 510px; }
  /* line 161, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .community_back {
    background-image: url(../image/community_back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1270px;
    margin-top: 7em;
    line-height: 1.6; }
  /* line 170, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #share_twi {
    height: 125px;
    text-align: center;
    padding-left: 35%; }
  /* line 175, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #share_hatena {
    height: 85px;
    text-align: center;
    padding-left: 38%;
    margin-top: 1em; }
  /* line 181, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #share_face {
    height: 125px;
    text-align: center;
    padding-left: 35%; }
  /* line 186, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  footer {
    background-color: #020202;
    width: 100%;
    height: 300px; }
  /* line 191, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #fotter_title {
    text-align: center;
    font-size: 650%;
    color: #FF5000;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 10px #020202; }
  /* line 198, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #fotter_sub_title {
    text-align: center;
    color: #FFF;
    margin-top: 2em;
    margin-left: 36%; }
  /* line 204, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #fotter_copyright {
    text-align: center;
    color: #FFF;
    margin-top: 4em; } }

@media screen and (max-width: 414px) and (-webkit-min-device-pixel-ratio: 0) {
  /* line 213, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 36px; }
  /* line 223, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  input[type="date"].input-sm,
  .input-group-sm input[type="date"],
  input[type="time"].input-sm,
  .input-group-sm input[type="time"],
  input[type="datetime-local"].input-sm,
  .input-group-sm input[type="datetime-local"],
  input[type="month"].input-sm,
  .input-group-sm input[type="month"] {
    line-height: 24px; }
  /* line 233, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  input[type="date"].input-lg,
  .input-group-lg input[type="date"],
  input[type="time"].input-lg,
  .input-group-lg input[type="time"],
  input[type="datetime-local"].input-lg,
  .input-group-lg input[type="datetime-local"],
  input[type="month"].input-lg,
  .input-group-lg input[type="month"] {
    line-height: 44px; } }

@media (max-width: 414px) {
  /* line 237, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .input-group {
    padding-top: 5em; }
  /* line 240, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; }
  /* line 256, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .form-control,
  .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400; }
  /* line 269, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #character {
    background-image: url(../image/smartphone_white_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 470px;
    margin-left: 19%; }
  /* line 276, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #black_iphone {
    width: 100%; }
  /* line 279, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #hatena_p {
    text-align: center;
    padding-top: 5%; }
  /* line 283, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #twitter_p {
    text-align: center;
    margin-top: -1em; }
  /* line 287, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #facebook_p {
    text-align: center;
    margin-top: -1em; }
  /* line 291, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #share_section {
    height: 600px; }
  /* line 294, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #iOS_download {
    width: 32%;
    height: 5em;
    opacity: 0.5;
    padding-top: 2em; }
  /* line 300, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    display: none; }
  /* line 306, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #concept_sub_p {
    margin-top: 1em;
    font-size: 130%;
    line-height: 2.6;
    text-shadow: 1px 1px 10px #020202;
    color: #FFF;
    font-weight: 900; }
  /* line 314, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #character_sub_p {
    margin-top: 2em;
    font-size: 150%;
    text-align: center;
    line-height: 2.3;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 322, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #listening_sub_p {
    margin-top: 2em;
    font-size: 150%;
    text-align: center;
    line-height: 2.3;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 330, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #warning_p {
    margin-top: 3em;
    font-size: 50%;
    text-align: center; }
  /* line 335, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #Concept {
    display: none; }
  /* line 338, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #concept_main_title {
    text-align: center;
    font-size: 150%;
    padding: 20px 20px;
    color: #FF5000; }
  /* line 344, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #concept_main_p {
    font-size: 200%;
    color: #FF5000;
    color: #FFF;
    text-shadow: 1px 1px 10px #020202;
    font-weight: 900; }
  /* line 351, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #concept_li {
    display: none; }
  /* line 354, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #character_main_p {
    font-size: 250%;
    color: #FF5000;
    font-weight: 900;
    font-family: impact;
    padding-top: 1em;
    text-align: center; }
  /* line 362, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #listening_main_p {
    font-size: 250%;
    padding-top: 100px;
    text-align: center; }
  /* line 367, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #sub_image_p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%; }
  /* line 372, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #community_main_p {
    font-size: 250%;
    color: #FFFFFF;
    text-align: center;
    margin-top: -3em; }
  /* line 378, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #community_sub_p {
    font-size: 150%;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.3;
    margin-left: 3%;
    margin-right: 3%; }
  /* line 386, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #white_text_form {
    width: 225px;
    height: 34px;
    background-color: #FFF;
    border-radius: 30px 0px 0px 30px; }
  /* line 392, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #black_submit {
    width: 200px;
    height: 200px;
    background-color: #020202; }
  /* line 397, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .form-group {
    width: 53%;
    height: 50px;
    background-color: #FFF;
    border-radius: 30px 0px 0px 30px;
    margin-left: 2.5em;
    position: relative;
    top: 25em;
    left: -0.4em; }
  /* line 408, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .form-inline .btn {
    background-color: #FF5000;
    width: 35%;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
    color: #FFFFF0;
    position: absolute;
    top: 40.6em;
    left: 25em;
    white-space: initial;
    font-size: 10px; }
  /* line 421, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .form-inline {
    padding-top: 4em;
    position: relative;
    top: 4em; }
  /* line 426, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .relative_first {
    position: relative;
    top: 39em; }
  /* line 430, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .absolute_first {
    position: absolute;
    color: #fff;
    top: 3.3em;
    left: 13.5em;
    font-size: 12px;
    text-shadow: 1px 1px 10px #020202; }
  /* line 438, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .relative_second {
    position: relative;
    z-index: -1; }
  /* line 442, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .absolute_second {
    position: absolute;
    color: #fff;
    top: 22.1em;
    left: -1.1em;
    font-size: 19px;
    text-shadow: 1px 1px 5px #020202;
    font-weight: 900;
    margin-top: -23.3em;
    margin-left: 12em;
    display: none; }
  /* line 454, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .line {
    position: relative;
    top: 33.5em; }
  /* line 458, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #line {
    height: 3em; }
  /* line 462, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #logo {
    font-size: 650%;
    color: #FF5000;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 10px #020202;
    /*padding-top: 1em;*/ }
  /* line 469, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #catch_copy {
    font-size: 200%;
    color: #FFF;
    text-shadow: 1px 1px 10px #020202;
    font-weight: bold; }
  /* line 475, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #pink_p {
    color: #FF5000; }
  /* line 478, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .slideshow img {
    position: absolute;
    left: 23.9%;
    top: -126.6%;
    opacity: 0;
    transition: 1s;
    width: auto;
    height: 26em; }
  /* line 487, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .slideshow .show {
    opacity: 1; }
  /* line 490, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .slideshow_2 img {
    position: absolute;
    left: 14%;
    top: 13.7%;
    opacity: 0;
    transition: 1s;
    height: 60.8%; }
  /* line 498, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .slideshow_2 .show {
    opacity: 1; }
  /* line 501, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #relative_black {
    position: relative;
    top: 0em; }
  /* line 505, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #share_title {
    margin: 0px;
    padding-bottom: 10px; }
  /* line 509, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #release {
    color: #FFFFF0;
    /* padding-top: 5%; */
    font-size: 17px;
    position: relative;
    top: 27em; }
  /* line 516, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #relative_6s {
    top: 31em; }
  /* line 519, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #sub_image_p_talk {
    margin-left: 5%;
    margin-right: 5%; }
  /* line 523, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .page-top {
    margin: 0;
    padding: 0; }
  /* line 527, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .page-top p {
    margin: 0;
    padding: 0;
    right: 16px;
    bottom: 16px;
    margin-left: 86%; }
  /* line 534, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .move-page-top {
    display: block;
    background: #FF5000;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  /* line 547, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .move-page-top:hover {
    opacity: 0.85; }
  /* line 550, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #release2 {
    color: #FFFFF0;
    font-size: 150%;
    position: relative;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%; }
  /* line 559, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .line2 {
    margin-top: 5%;
    text-align: center; }
  /* line 563, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  .br_6:before {
    content: "\A";
    white-space: pre; }
  /* line 567, /Users/kikuchi/Desktop/APOLO_LP_1204/css/smart_6s.scss */
  #sns_p {
    padding-top: 7%;
    font-size: 150%;
    color: #fff;
    text-shadow: 1px 1px 10px #020202;
    font-weight: bold;
    white-space: nowrap; } }

/*# sourceMappingURL=smart_6s.css.map */